@page
@model ERP.Pages.Cotizacion.CotizacionTarea.CotizacionTareaListModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas de Cotización</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<a class='btn btn-primary btn-sm' href="/Cotizacion/CotizacionTarea/CotizacionTareaForm"> Nueva Tarea</a>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Lista de Tareas de Cotización</h2>
        @if (Model.listaTareas.Count == 0)
        {
            <p>No hay tareas de cotización disponibles.</p>
        }
        else
        {
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Código Tarea</th>
                        <th>Descripción</th>
                        <th>Número Cotización</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tarea in Model.listaTareas)
                    {
                        <tr>
                            <td>@tarea.codigo_tarea</td>
                            <td>@tarea.descripcion</td>
                            <td>@tarea.num_cotizacion</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/Cotizacion/CotizacionTarea/CotizacionTareaDelete/?codigo_tarea=@tarea.codigo_tarea&num_cotizacion=@tarea.num_cotizacion">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>