@page
@model ERP.Pages.Empleado.Empleado_listModel
@{
}

<br />
<h2> Lista de Empleados </h2>
<a class="btn btn-primary btn-sm" href="/Empleado/Empleado_form"> Nuevo Empleado</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Nacimiento</th>
            <th>Edad</th>
            <th>Residencia</th>
            <th>Teléfono</th>
            <th>Ingreso</th>
            <th>Salario</th>
            <th>Puesto</th>
            <th>Departamento</th>
        </tr>
    </thead>
</table>