@page
@model ERP.Pages.Inventario.Bodega.Bodega_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Bodegas -->
<br />
<h2> Lista de Bodegas </h2>
<a class="btn btn-primary btn-sm" href="/Inventario/Bodega/Bodega_form"> Nueva Bodega</a>
<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Espacio Cubico</th>
        </tr>
    </thead>
</table>
