@page
@model ERP.Pages.Factura.Factura_view.Factura_view_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Facturas -->
<br />
<h2> Lista de Facturas </h2>
<a class="btn btn-primary btn-sm" href="/Factura/Factura_view/Factura_view_form"> Nueva Factura</a>
<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nombre del Local</th>
            <th>Cliente</th>
            <th>Cotizacion</th>
            <th>Vendedor</th>
            <th>Articulo</th>
            <th>Cantidad</th>
        </tr>
    </thead>
</table>