@page
@model ERP.Pages.Inventario.Articulo.Articulo_listModel
@{
}

<br />
<h2> Lista de Articulos </h2>
<a class="btn btn-primary btn-sm" href="/Inventario/Articulo/Articulo_form"> Nuevo Articulo</a>
<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Familia</th>
            <th>Costo</th>
            <th>Precio Estándar</th>
            <th>Activo</th>
        </tr>
    </thead>
</table>