@page
@model ERP.Pages.Inventario.Entrada.Entrada_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Entradas de Artículos -->
<br />
<h2> Lista de Entradas </h2>
<a class="btn btn-primary btn-sm" href="/Inventario/Entrada/Entrada_form"> Nueva Entrada</a>
<table class="table">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Bodega Destino</th>
            <th>Articulo</th>
            <th>Cantidad</th>
        </tr>
    </thead>
</table>