@page
@model ERP.Pages.Cliente.Cliente_view.Cliente_view_listModel
@{
}

<!-- Interfaz gráfica html de lista de Clientes -->
<br />
<h2> Lista de Clientes </h2>
<a class="btn btn-primary btn-sm" href="/Cliente/Cliente_view/Cliente_view_form"> Nuevo Cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Zona</th>
            <th>Sector Industrial</th>
            <th>correo</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ciclo que extrae los datos de la tabla de Clientes para mostrar toda información registrada -->
        @foreach (var item in Model.listaClientes)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.nombre</td>
                <td>@item.zona</td>
                <td>@item.sector</td>
                <td>
                    <a class="btn btn-primary btn-sm">Editar</a>
                    <a class="btn btn-primary btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>