@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <header>
        <h1 class="display-4">Bienvenido al Sistema Enterprise Resource Planning</h1>
    </header>
    <section class="intro mt-4">
        <p class="lead">Optimiza la gestión de tu empresa con nuestro sistema integral de planificación de recursos empresariales (ERP).</p>
    </section>
</div>