@page
@model ERP.Pages.Inventario.Movimiento.Movimiento_listModel
@{
}

<br />
<h2> Lista de Movimientos </h2>
<a class="btn btn-primary btn-sm" href="/Inventario/Movimiento/Movimiento_form"> Nuevo Movimiento</a>
<table class="table">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Bodega Origen</th>
            <th>Bodega Destino</th>
            <th>Articulo</th>
            <th>Cantidad</th>
        </tr>
    </thead>
</table>