@page
@model ERP.Pages.Empleado.Rol.Rol_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Empleados -->
<br />
<h2> Lista de Roles </h2>
<a class="btn btn-primary btn-sm" href="/Empleado/Rol/Rol_form"> Nuevo Rol</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>