@page
@model ERP.Pages.Empleado.Historico_Puesto.Historico_Puesto_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Históricos de Puestos -->
<br />
<h2> Lista de Historicos de Puesto </h2>
<a class="btn btn-primary btn-sm" href="/Empleado/Historico_Puesto/Historico_Puesto_form"> Nuevo Historico</a>
<table class="table">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Final</th>
        </tr>
    </thead>
</table>