@page
@model ERP.Pages.Caso.Caso_view.Caso_view_listModel
@{
}

<br />
<h2> Lista de Casos </h2>
<a class="btn btn-primary btn-sm" href="/Caso/Caso_view/Caso_view_form"> Nuevo Caso</a>
<table class="table">
    <thead>
        <tr>
            <th>Propietario</th>
            <th>Origen</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Prioridad</th>
        </tr>
    </thead>
</table>