@page
@model ERP.Pages.Cotizacion.Cotizacion_view.Cotizacion_view_listModel
@{
}

<!-- Interfaz gráfica html de la listas de Clientes -->
<br />
<h2> Lista de Cotizaciones </h2>
<a class="btn btn-primary btn-sm" href="/Cotizacion/Cotizacion_view/Cotizacion_view_form"> Nueva Cotizacion</a>
<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Vendedor</th>
            <th>Tipo</th>
            <th>Zona</th>
            <th>Sector Industrial</th>
            <th>estado</th>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
</table>